body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('pannelli.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    margin: 20px 0;
    font-size: 28px;
    color: #228b22;
}

.subtitle {
    font-size: 18px;
    color: #90ee90;
    margin-bottom: 20px;
}

p.caption {
    font-size: 16px;
    color: #000; /* Nero */
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    transition: transform 0.3s;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

